<table class="table table-striped table-sm category-table">
  <thead>
    <tr>
      <th>Category</th>
      <th>Total</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
    <tr id="category-{{c.id}}" *ngFor="let c of categoryList">
      <td class='category-name'>
        {{c.name}}
      </td>
      <td class='category-total'>
        {{c.total |number :'1.2-2'}}
      </td>
      <td class='category-percent'>
        {{c.percent}}%
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td colspan='2' id='category-grand-total'>
        <h4> {{total| currency}}</h4>
      </td>

    </tr>
  </tfoot>
</table>