// TODO should this be more global move the code
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select.categoryList {
    height: 30px;
    width: 140px;
}

input.amount {
    width: 100px;
}

.sum-table {
    border: 1px solid #cccccc;
    tfoot {
        border-top: 2px solid black;
    }
    .item-actions {
        width: 50px;
        
    }
}

.actions-container{
    margin-left: 5px;    
}

.category-table {
    border: 1px solid #cccccc;
    tfoot {
        border-top: 2px solid black;
    }
}